body{
	background-image: url("./Images/Gear_Background.jpg");
	background-size: 100% 100%;
	color: #FFFFFF; 
}
a {
	text-decoration: none;
	color: #FFFFFF;
}

#header{
	background-image: url("./Images/Gears_Banner.jpg");
	background-size: 100%;
	text-align: center;
	border:  10px inset #9C6900;
	color: #FFFFFF;
}
#nav{
	
	border:  5px inset #9C6900;
	width: 15%;
	float: left;
	margin-right: 10px;
}
#nav li{
	padding: 20px 0px; 
	list-style: none;
}
#container{
	min-width: 900px;
}
#content{
	width: 80%;
	margin-right: 10px;
	text-align: center;
	float:right;
}
#footer{
	background-image: url(./Images/Gears_footer.png);
	background-size: 100% 100%;
	min-height: 100px;
	padding-top: 50px;
	color: #FFFFFF;
	clear: both;
	font-size: .75em;
	text-align: center;
}